.container {
    z-index: 1;
    width: 100%;
    position: sticky;
    top: 0;
    border: 0;
    height: 48px;
}

.show {
    height: inherit;
    background-color: var(--subbackground);
    border-bottom: 1px solid var(--light);
    transition: 0.3s linear;
}

.hide {
    height: inherit;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    transition: 0.3s linear;
}

.tittle {
    margin: auto;
    padding: 6px;
    font-size: 24px;
    transition: color 0.3s linear;
}

.tShow {
    color: var(--highlight);
}

.tHide {
    color: transparent;
}

.items {
    position: absolute;
    height: 48px;
    top: 0;
    right: 0;
    display: flex;
    gap: 2px;
}

.item {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .05s linear;
}

.item:hover {
    background-color: var(--highlight);
    color: var(--subbackground);
}