.stock {
	text-align: center;
	justify-content:center;
    display: grid;
    grid-template-columns:auto auto auto;
    grid-gap: 100px;
    font-size: 20px;
    column-gap: 300px;
    display: flex;                                                                                              
    flex-wrap: wrap;
    max-width: 816px;
}

.stock div{
    display: flex;                                                                                              
    flex-wrap: wrap;
    color: black;
}



