.stock {
	display: flex;
	text-align: center;
	justify-content: center;
	flex-wrap: wrap;
    font-size: 20px;
}

.stock div{
    display: grid;
    grid-template-columns:auto auto auto;
    grid-gap: 50px;
}



